<h1 id="titleTitle">What We Used</h1>
<div class="ui divider"></div>
	<div class= "ui relaxed grid">
		<div id = "space" class= "five wide column">
			<ul class="ui list" id = "apis">
			<p id= "titleAbout"> APIs</p>
			  <li>AlchemyAPI: IBM
			    <ul>
			      <li>Relevance</li>
			      <li>Context</li>
			      <li>Keywords</li>
			    </ul>
			  </li>
			  <li>DiffBot
			  	<ul>
			  		<li>Scraping</li>  		
			  	</ul>
			  </li>
			</ul>
			</div>
		<div id = "space" class= "five wide column">
			<p id= "titleAbout"> Additional Gems</p>
			<ul class="ui list" id= "gems">
			  <li>Styling
			  	<ul>
			  		<li>Semantic Ui</li>
			  	</ul>
			  </li>
			  <li>Charts
			  	<ul>
			  		<li>ChartKick</li>  		
			  	</ul>
			  </li>
			  <li>Scraping
			  	<ul>
			  		<li>Nokugiri</li> 
			  		<li>Typhoeus</li>  
			  		<li>JSON</li>   		
			  	</ul>
			  </li>
			  <li>Testing
			  	<ul>
			  		<li>Shoulda-Matchers</li> 
			  		<li>Guard-Rspec</li>  
			  		<li>Capybara</li>   		
			  	</ul>
			  </li>
			</ul>
		</div>
			<div class= "five wide column">
			<p id= "titleAbout"> Models</p>
				<ul id="models">
			  		<li>User</li> 
			  		<li>Article</li>  
			  		<li>Context</li>
			  		<li>Keyword</li>  		
			  	</ul>
			</div>	
	</div>

<div class="ui divider"></div>	