// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#headingAll{
	background-color: black;
	opacity: .9;
	#navBar{
		border-radius: 5px;
		padding-left: 10px;
		#leftMenu {
			float: left;
			margin-top: 13px;
			margin-right: 25px;
			font-size: 18px;
			transform : scale(1,1.3);
			font-weight: lighter;
			a:hover { 
	   			background-color: grey;
			}
		}
		#rightMenu {
			margin-left: 70%;
		}
		a {
			color: white;
		}
		.item{
			color: white;
			font-weight: bold;
		}
	}
	#headingMiddle{
		#company{
			font-weight: lighter;
			margin-top: 8%;
			padding-bottom: 3%; 
		}
		#howItWorks{
			margin-bottom: 10%;
		}
		a{
			
			font-weight: lighter;
			color: white;
		}
		
	}
}

#middleBar{
	#pageTitle{
		text-align: center;
		padding-top: 5em;
		padding-bottom: 5em;
	}
	#pageDescription{
		padding-top: 3em;
		padding-bottom: 3em;
		position: relative;


	}
	#horizontalDiv{
		margin-top: 10px;
		margin-bottom: 10px;
	}
}

#articles {
	#article {
		color: black;
		background-color: #F5F5F5;
		margin: 2%;
		border-radius: 4px;
		font-weight: lighter;
		#centerMe{
			text-align: center;
		}
		#articleTitle{
			text-align: center;
		}
	}
	
}

#newArticle{
	text-transform: capitalize;
	text-align: center;
	#label{
		font-size: 20px;
		margin: 5px;
	}
	#titleArticle{
		font-weight: lighter;
		font-size: 22px;
		text-align: center;
	}
	#addButton{
		margin-top: 10px;
	}
}

p#titleAbout{
	font-size: 25px;
}

div#space{
	margin-right: 3%;
}

h1#titleTitle{
	text-align: center;
	font-size: 45px;
	font-weight: lighter;
	padding-top: 10px;
	padding-bottom: 10px;
}

#articleShow{
	font-size: 17px;
	line-height: 150%;
	#imageShow{
		text-align: center;
		border-radius: 10px;
		padding-top: 10px;
		padding-bottom: 10px;
		background-color:#F5F5F5; 
	}
	#titleShow{
		margin-top: 10px;
		border-radius: 5px;
		background-color: black;
		opacity: .5;
		color: white;
		text-align: center;
		font-size: 30px;
		padding-top: 15px;
		padding-bottom: 15px;
	}
	#titleInfo{
		margin-bottom: 10px;
	}
	#textShow{
		background-color:#F5F5F5;
		border-radius: 10px;
		padding: 5px; 
	}
}
#scoreShow{
	margin-bottom: 20px;
	margin-top: 10px;
	background-color: black;
	opacity: .5;
	font-weight: bold;
	color: white;
	border-radius: 5px;
	text-transform: capitalize;
	text-align: center;	
	padding: 4px;
	font:18px;
	#redScore{
		background-color: #b40000;
	}
	#orangeScore{
		background-color: #ff6a00;
	}
	#yellowScore{
		background-color: #ffd500;
	}
	#greenScore{
		background-color: green;
	}
}
#score{
	margin-bottom: 20px;
	margin-top: 10px;
	background-color: black;
	opacity: .5;
	font-weight: bold;
	color: white;
	border-radius: 5px;
	text-transform: capitalize;
	text-align: center;	
	padding: 4px;
	font:18px;
	#redScore{
		background-color: #b40000;
	}
	#orangeScore{
		background-color: #ff6a00;
	}
	#yellowScore{
		background-color: #ffd500;
	}
	#greenScore{
		background-color: green;
	}
}
#chart{
	background-color: #F5F5F5;
	border-radius: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 5px;
}

#textShow{
		background-color:#F5F5F5;
		border-radius: 10px;
		padding: 5px; 
	}


