// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#horizontalDiv{
	margin-top: 10px;
	margin-bottom: 10px;
}
#signupLink{
	font-weight: lighter;
	font-size: 20px;
	text-align: center;
	padding-top: 4em;
	padding-bottom: 4em;
	position: relative;
}
#login{
	text-align: center;
	padding-top: 1em;
	position: relative;
}
#signup{
	text-align: center;
	padding-top: 1em;
	position: relative;
}
#loginLink{
	font-weight: lighter;
	font-size: 20px;
	text-align: center;
	padding-top: 4em;
	padding-bottom: 4em;
	position: relative;
}